@model ProjPortadorSindromeIrlen.QuemSomos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuemSomos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Historia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Historia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdQuemSomos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
