
@model IEnumerable<ProjPortadorSindromeIrlen.QuemSomos>

@{
    ViewBag.Title = "QuemSomosSite";

}  @Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<h2>Quem Somos!</h2>
<head>
    <style>
        body {
            background-color: #e3f2fd;
        }

        h2 {
            color: midnightblue;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    
<div class="container" aling="text-center">
    <div class="text-justify">
        <div class="col-md-12">

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <div class="Display-field">
                            <div class="text-center">

                                <img src="@Url.Content(item.Foto)" alt="@item.Foto" />
                            </div>
                        </div>
                    </td>
                    <p>
                        <h2>Historia da Síndrome de Irlen</h2>
                    <td>
                        @Html.DisplayFor(modelItem => item.Historia)
                    </td>
                    </p>
                    <h2>Características da Síndrome de Irlen</h2>
                    <td>
                        @Html.DisplayFor(modelItem => item.Objetivos)
                    </td>
                    <h2>Valores e objetivos</h2>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valores)
                    </td>


                </tr>
            }
        </div>
    </div>
</div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")





