@model IEnumerable<ProjPortadorSindromeIrlen.TipoDepoimento>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro Categoria Depoimento</h2>

<p>
    @Html.ActionLink("Inserir", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCategDepoimento }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdCategDepoimento }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdCategDepoimento })
        </td>
    </tr>
}

</table>
